.examples
{
    &__title{
      font-size: $font-size-md;
      font-weight: 500;
      margin-bottom: 32px;
    }
    &__btn-link{
       @include btn-blue;
       display: flex;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 90px;
    }
    
      &__picture{
         
        &-pic{
          object-fit: cover;
          min-height: 235px;
          
        }
        }
     

     } 

   