.footer{
  background-color:#1C1D28;
  padding-top: 33px;
  padding-bottom: 33px;
  &__logo{
    width:46px;
    height: 30px;
    margin-bottom: 40px;
    
  }
  &__nav{
    margin-bottom: 55px;
    display: flex;
    flex-wrap: wrap;
    color: white;
     
     
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    
  }
  &__menu{
    &-one{
      margin-bottom: 45px;
      margin-right: 45px;
    }
    &-two{
      margin-right: 45px;
    } 
  }
  &__menu-title{
    font-size: 15px;
    margin-bottom: 20px;
  }
  &__menu-item{
    margin-bottom: 12px;
    font-size: 12px;
    &-md{
      margin-bottom: 20px;
    }
    &-us{
      margin-bottom: 15px;
    }
  }
  &__menu-icons{
    margin-right: 20px;
    }

  &__menu-link{
    font-size: 12px;
    color: white;
  }

  &__copyright{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-text{
      color: rgba(255, 255, 255, 0.3);
      font-size: 10px;
      &-md{
        margin-left: auto;
        margin-bottom: 19px;
      }
       
    }
  }
  &__socials{
    margin-bottom: 40px;
  }
}

 
rect, path, circle{
  transition: .2s;
}
 
svg:hover rect{
  fill:#FF5C66
;
}
svg:hover path{
  fill:#FF5C66
;
}
svg:hover circle{
  stroke:#FF5C66
;
}

 